<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Tinder:</strong>
  <%= @user.tinder_id %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

    <% @user.photos.each do |p| %>
    <%= image_tag(p.url, size: 350) %>
    <% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
